.footer {
  flex-shrink: 0;
  height: 872px;
  max-width: 1920px;
  background: #f4f7f7;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}

.footer__content {
  width: 1160px;
  display: flex;
  justify-content: space-around;
}

.footer__block-lists {
  padding: 0;
  margin: 0;
  list-style: none;
  text-decoration: none;
}
.footer__title {
  margin: 0;
  margin-bottom: 20px;
  max-width: 150px;
  font-family: Roboto;
  font-size: 20px;
  font-weight: 700;
  line-height: 27px;
  text-align: left;
  text-underline-position: from-font;
  text-decoration-skip-ink: none;
  color: #2f3e53;
}
.footer__lists {
  padding: 0;
  margin: 0;
  list-style: none;
  text-decoration: none;
}
.footer__lists-item {
  margin: 0;
  margin-bottom: 10px;
  font-family: Roboto;
  font-size: 16px;
  font-weight: 400;
  line-height: 24.8px;
  text-align: left;
  text-underline-position: from-font;
  text-decoration-skip-ink: none;
  color: #2f3e53;
  white-space: nowrap;
}

.footer__lists-link {
  color: #2f3e53;
  text-decoration: none;
}

.footer__text {
  margin: 0;
  font-family: Roboto;
  font-size: 20px;
  font-weight: 700;
  line-height: 30px;
  text-align: left;
  text-underline-position: from-font;
  text-decoration-skip-ink: none;
  max-width: 240px;
  color: #2f3e53;
  text-decoration: none;
  white-space: nowrap;
}

/* .footer__contacts {
} */
.footer__socials {
  display: flex;
  justify-content: space-between;
  margin-top: 80px;
  max-width: 184px;
}
.footer__icon {
  cursor: pointer;
}

.footer__paragraph {
  margin: 0;
  max-width: 473px;
  font-family: Roboto;
  font-size: 20px;
  font-weight: 400;
  line-height: 21px;
  text-align: center;
  text-underline-position: from-font;
  text-decoration-skip-ink: none;
  color: #111111;
  margin-top: 80px;
}

.footer__title_span {
  white-space: nowrap;
}
@media (max-width: 1450px) {
  .footer__content {
    width: 85%;
  }
}
@media (max-width: 1250px) {
  .footer__content {
    width: 90%;
  }
}
@media (max-width: 1000px) {
  .footer__lists_center {
    display: flex;
    flex-direction: column;
  }
  .footer__paragraph {
    font-size: 10px;
    margin-top: 30px;
  }
  .footer__title {
    font-size: 14px;
  }
  .footer__lists-link {
    font-size: 14px;
  }
  .footer__text {
    font-size: 14px;
  }
  .footer__lists-item {
    font-size: 14px;
  }
  .footer__icon {
    width: 35px;
    height: 35px;
  }
  .footer__socials {
    justify-content: flex-start;
    gap: 15px;
    margin-top: 10px;
  }
  .footer__content {
    justify-content: space-between;
    padding-left: 20px;
  }
}
@media (max-width: 900px) {
  .footer {
    padding-top: 10px;
    /* height: auto;*/
    height: 700px;
  }
}

@media (max-width: 800px) {
  .footer {
    height: 400px;
  }

  .footer__lists-item {
    margin-bottom: 0;
  }

  .footer__paragraph {
    margin-top: 0;
  }
}

@media (max-width: 757px) {
  .footer__content {
    padding: 20px;
    display: grid;

    gap: 10px;
  }

  .footer__block-lists {
    grid-column: 1 / 2;
    grid-row: 1 / 2;
  }
  .footer__information {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
  }
  .footer__information,
  .footer__openingHours,
  .footer__contacts {
    grid-column: 2 / 3;
    grid-row: 1 / 2;
    max-width: 140px;
  }
  .footer__openingHours {
    display: flex;
    flex-direction: column;
    margin-top: 185px;
  }
  .footer__contacts {
    margin-top: 235px;
  }
  h6.footer__title {
    margin-bottom: 10px;
    line-height: 15px;
    text-align: left;
  }
  .footer__text {
    margin-top: -15px;
    margin-left: -30px;
  }

  .footer__title_span {
    margin-left: -15px;
  }

  .footer__text_phone {
    margin-top: 10px;
    font-family: Lato;
    font-size: 14px;
    font-weight: 500;
    line-height: 16.8px;
    text-align: center;
    text-decoration-line: underline;
    text-decoration-style: solid;
    text-underline-position: from-font;
    text-decoration-skip-ink: auto;
    margin-left: 7px;
  }

  .footer__lists_center {
    align-items: center;
  }
}

@media (max-width: 750px) {
  .footer__title {
    font-size: 10px;
  }
  .footer__lists-link {
    font-size: 10px;
  }
  .footer__text {
    font-size: 10px;
  }
  .footer__lists-item {
    font-size: 10px;
    margin-bottom: 0;
    max-width: 150px;
    white-space: nowrap;
  }
  .footer__icon {
    width: 25px;
    height: 25px;
  }
  .display-none750px {
    display: none;
  }
}

@media (max-width: 660px) {
  .footer__openingHours {
    margin-left: 20px;
  }

  .footer__information {
    margin-left: 20px;
  }
}

@media (max-width: 550px) {
  .footer {
    height: 400px;
  }

  .footer__paragraph {
    margin-bottom: 20px;
  }
  .footer__openingHours {
    margin-left: 20px;
  }

  .footer__information {
    margin-left: 20px;
  }
}

@media (max-width: 379px) {
  .footer__information {
    margin-left: 40px;
  }
}
