
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: "Roboto", sans-serif;
    background-color: #fff;
}

body::-webkit-scrollbar {
    display: none;
}

.content {
    max-width: 1920px; 
    width: 100vw;
    margin: 0 auto;
}

.main {
    width: 60.42%;
    height: 72px;
    align-items: center;
    justify-content: center;
    margin: 147px auto 44px auto;
    text-align: center;
}

.main__title {
    width: 100%;
    text-transform: uppercase;
    font-size: 52px;
    line-height: 64px;
    font-weight: 500;
    color: #02B4BE;
}

.description {
    display: flex;
    justify-content: center;
    width: 100%;
    padding: 0 5px;
    height: 90px;
    margin-left: auto;
    margin-right: auto;
    color: #2F3E53;
    letter-spacing: 1.5px;
    margin-bottom: 25px;
}

.description p {
    width: 803px;
    font-size: 24px;
    line-height: 30px;
    letter-spacing: 1px;
    font-weight: 400;
    text-align: center;
    color: #2F3E53;
}

.social-contacts {
    width: 100%;
    max-width: 1160px;
    height: 90px;
    margin: 0 auto 44px auto;
    padding: 10px 10px 20px 10px;
    display: flex;
    justify-content: space-between;
    gap: 20px;
}

.social-contacts__item {
    width: 31.6%;
    display: flex;
    gap: 10px; 
    align-items: center;
    justify-content: center;
    height: 60px;
    border-radius: 20px;
    background-color: #15D1D9;
    padding: 18px 0;
    color: #F4F7F7;
    cursor: pointer;
    transition: background-color 0.4s ease; 
}

.social-contacts__item img {
    justify-self: end;
    margin-right: 0px;
}

.social-contacts__item:hover {
    background-color: rgba(26, 13, 68, 0.8);
}

.social-contacts__item p {
    font-size: 23px;
    line-height: 25px; 
    font-weight: 800;
    margin-left: 28px; 
}

.social-contacts__item-text {
    font-weight: 400;
}

.w320-images {
    display: none;
}

.images {
    display: none;
}

.photo {
    width: 97%;
    margin: 0 auto;
    display: flex;
    gap: 40px;
}

.photo__container {
    flex: 1;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 24px;
}

.photo img {
    width: 100%;
    border-radius: 8px;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.photo img:hover {
    transform: scale(1.02);
    cursor: pointer;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
}

.contact-us {
    position: relative;
    width: 100%;
    display: flex;
}

.contact-us__img {
    object-fit: cover;
    width: 19.79%; 
}

.contact-us__container {
    max-width: 1160px;
    width: 60.41%;
    height: 100%;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.contact-us__container-top {
    width: 100%;
    height: 425px;
    display: flex;
    flex-direction: column;
    gap: 10px;
    padding: 110px 0;
}

.contact-us__container-top-div {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.contact-us__container-top-p { 
    width: 79.57%;
    padding: 0 70px;
    margin: 0;
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    font-size: 24px;
    text-align: center;
    line-height: 30px;
    color: #2F3E53;
}

.contact-us__container-social {
    width: 100%; 
    height: 90px;
    padding: 10px 10px 20px 10px;
    display: flex;
    justify-content: space-between; 
    margin-bottom: 44px;
}

.contact-us__discount {
    width: 100%;
    height: 403px;
}

.contact-us__discount img {
    width: 100%;
}

.container-social-item {
    width: 31.6%;
    display: flex;
    align-items: center; 
    gap: 10px;
    height: 60px;
    border-radius: 20px;
    background-color: #15D1D9;
    padding: 18px 0; 
    cursor: pointer;
    transition: background-color 0.4s ease;
}

.container-social-item:hover {
    background-color: rgba(26, 13, 68, 0.8);
}

.container-social-item p {
   font-family: "Roboto", sans-serif;
   padding: 0;
   font-size: 23px;
   margin-left: 35px;
   max-height: 25px;
   line-height: 25px;
   color: #fff;
   font-weight: 800;
}

.container-social-item img {
    margin: 0px;
}

.contact-us__container-bottom {
    height: 615px;
    margin-top: 40px;
    display: flex;
}

.contact-us__container-bottom-img {
    width: 60.34%;
}

.text {
    font-weight: 400;
}

.form {
    margin-top: 30px;
    height: 585px;
}

.form__content {
    display: flex;
    flex-direction: column;
    width: 100%;
    overflow: visible;
    align-items: center;
}

.form__content-p {
    padding: 0;
    width: 120%;
    margin-left: -50px;
    text-align: center;
    color: #15D1D9;
    font-family: "Stengazeta";
    font-size: 24px;
    line-height: 26px;
    font-weight: 600; 
    text-transform: uppercase;   
}

form {
    margin-top: 30px;
    width: 87%;
    height: 300px; 
    padding: 15px 32px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    border-radius: 20px;
    border: 1px solid rgba(0, 0, 0, 0.5);   
    background: #fff; 
    z-index: 100;
}

form p  {
    height: 27px;
    padding: 0;
    margin: 0;
    font-size: 24px; 
    font-weight: 900;
    font-family: "Roboto";
    color: #15D1D9; 
}

.form-container {
    color: #747474;
    width: 100%;
    height: 135px;
    display: flex;
    flex-direction: column; 
    justify-content: space-around; 
    align-items: flex-start; 
    box-sizing: border-box; 
    margin: 0;
}

.form-container label {
    color: black;
    font-weight: 500;
    font-size: 15px; 
    margin-bottom: 1px;    
}

.form-container input {
    font-size: 17px;
    width: 100%;
    height: 40px;
    padding: 12px 16px;
    border: 1px solid rgba(0, 0, 0, 0.5);
    margin-bottom: 10px; 
    box-sizing: border-box; 
    border-radius: 4px; 
}

.form-container input:last-of-type {
    margin-bottom: 0; 
}
 
.btn {
   width: 100%;
   height: 44px;
   font-size: 20px;
   border-radius: 6px;
   display: flex;
   align-items: center;
   justify-content: center;
   background: #BEFCFF;
   color: #15D1D9;
   border: 1px solid #15D1D9;
   cursor: pointer;
   font-weight: 500;
   transition: background-color 300ms ease;
}

.btn:hover {
    background-color: #15D1D9;
    color: #fff;
}


@media screen and (max-width: 1865px){
    .content {
        max-width: 1865px;
        width: 100%;
        margin: 0;
    }

    .contact-us__container-top {
      padding: 80px 0;
      height: 350px;
    }

    .container-social-item {
        width: 300px;
        height: 50px;   
    }

    .container-social-item p {
        font-size: 20px;
        font-weight: 600;
        margin-left: 25px;
    }

    .form-container input {
        width: 100%;
    }

    .btn {
        width: 100%;
    }
}

@media screen and (max-width: 1760px) {
    .content {
        max-width: 1760px;
        width: 100%;
    }

    .contact-us__img {
        width: 18%;
    }

    .contact-us__container {
        width: 1200px;
        
    }
}

@media screen and (max-width: 1680px){
    .content {
        max-width: 1680px;
        width: 100%;
    }

    .contact-us__img {
        width: 16%;
    }

    .form-container input {
        width: 100%;
    }

    .btn {
        width: 100%;
    }
}

@media screen and (max-width: 1600px){
    .contact-us__img {
        width: 14%;
    } 
}

@media screen and (max-width: 1520px){
    .contact-us__img {
        width: 12%;
    } 
}


@media screen and (max-width: 1440px) {
    .content {
        max-width: 1440px;
        width: 100%;
    }

    .contact-us__img {
        width: 200px;
    }

    .contact-us__container {
        width: 1040px;
    }

    .contact-us__container-top-p {
        width: 900px;
    }

    .contact-us__container-bottom {
        width: 100%;
    }

    .contact-us__container-bottom-img {
        width: 600px;
        object-fit: cover;
    }

    .form {
        background-color: #fff;
        z-index: 100;
    }

    .form-container input {
        width: 100%;
    }
}

@media screen and (max-width: 1360px) {
    .contact-us__img {
        width: 12%;
    } 
}

@media screen and (max-width: 1280px) {
    .contact-us__img {
        width: 10%;
    } 

    .btn {
        width: 100%;
    }

    .form__content-p {
        width: 450px;
    }
}

@media screen and (max-width: 1200px) {
    .contact-us__img {
        display: none;
    }

    .form {
        margin-left: 30px;
    }

    .social-contacts__item {
        width: 300px;
        height: 50px;
    }

    .social-contacts__item img {
        width: 35px;
    }

    .social-contacts__item p {
        font-size: 18px;
        line-height: 20px;
    }
}


@media screen and (max-width: 1024px) {
    .content {
        max-width: 1024px;
        width: 100%;
        margin: 0;
    }

    .main {
        width: 100%;
        margin: 0;
        height: 164px;
        display: flex;
        align-items: center;
    }

    .main__title {
        font-size: 24px;
    }

    .description {
        height: 68px;
        justify-content: center;
        align-items: center;
    }

    .description p {
       width: 547px;
       height: 48px;
       font-size: 14px;
       line-height: 16px;
       display: flex; 
       margin-bottom: 20px;     
    }

    .social-contacts { 
        margin: 0;
        align-items: center;
        width: 100%;
        height: 230px;
        padding: 20px 0;
        flex-direction: column;
        gap: 20px;
    }

    .social-contacts__item {
        width: 70%;
        font-size: 24px;
        justify-content: space-between;
    }

    .social-contacts__item img {
        margin-right: 25px;
    }

    .social-contacts__item p {
        margin-left: 160px;
    }

    .photo {
        display: none;
    }

    .images {
        display: flex;
        width: 100%;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .images__item {
        width: 95%;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .images__item img {
        width: 100%;
    }
    .contact-us, 
    .contact-us__container {
        width: 100%;
    }
    .contact-us__container-top {
        height: 450px;
    }

    .contact-us__container-bottom {
        width: 100%;
        padding: 0 10px;
    }
    .contact-us__container-bottom-img {
        width: 58%;
    }
    .contact-us__container-bottom-img img {
        width: 100%;
        object-fit: cover;
    }
    .form { 
        width: 42%;
    } 
    .contact-us__container-top-p {
        width: 440px;
        height: 72px;
        font-size: 14px;
        padding: 0;
        line-height: 15px;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .contact-us__container-social {
        margin: 0 auto 50px auto;
        width: 580px;
        height: 260px;
        padding: 20px 0;
        flex-direction: column;
        gap: 20px;
    }

    .container-social-item {
        width: 100%;
        height: 60px;
        font-size: 24px;
        justify-content: space-between;
    }

    .container-social-item img {
        margin-right: 25px; 
    }

    .container-social-item p {
        margin-left: 160px;
        font-weight: 900;
    }

    .text {
        font-weight: 400;
    }

    form {
        padding: 20px;
    }

    .btn {
        color:#fff;
        background: #02B4BE;
    }
}

@media screen and (max-width: 944px){

    .content {
        width: 100%;
        max-width: 944px;
    }
    .contact-us__container {
        width: 100%;
    }
    .contact-us__container-bottom {
        height: 530px;
    }
    .form { 
        height: 480px;
    }
    .contact-us__container-bottom-img {
      width: 600px;
      height: 370px;  
      margin-top: 80px;    
    }

    .contact-us__container-bottom-img img {
        width: 100%;
    } 
    
    .contact-us__container-social {
        margin: 10px auto;
    }

    .contact-us__discount {
        width: 100%;
    }
}


@media screen and (max-width: 768px){
    .contact-us__container-social {
      width: 100%;
      align-items: center;
    }
    .container-social-item p {
        font-size: 18px;
        line-height: 20px;
        margin-left: 50px;
    }
    .contact-us__container-bottom {
        height: 500px;
        margin: 0;
    }
    .contact-us__discount {
        height: 320px;
    }
    .contact-us__container-bottom-img {
        margin-top: 150px;
    }
    .container-social-item {
        width: 70%;
        height: 50px;
    }
    .social-contacts__item p {
        margin-left: 50px;
    }
   
    .form {
        height: 480px;
    }
    .form__content-p {
        font-size: 20px;
        width: 400px;
    }
}

@media screen and (max-width: 688px) {
    .form {
        margin: 0;
        width: 380px;
    }
    .contact-us__container-bottom {
        height: 430px;
        display: flex;
        justify-content: center;
    }

    .contact-us__container-bottom-img {
        display: none;
    }
    .contact-us__discount img {
        width: 100%;
        object-fit: cover;
    }
}

@media screen and (max-width: 608px) {
    .content {
        width: 100%;
        max-width: 608px;
    }
    .social-contacts {
        width: 100%;
    }
    .contact-us__container-social {
        align-items: center;
        width: 100%;
    }
    .container-social-item p {
        font-size: 18px;
        font-weight: 800;
        line-height: 20px;
        margin-left: 35px;
    }
    .contact-us {
        width: 100%;
    }
    .contact-us__discount {
        height: 280px;
        margin-bottom: 30px;
    }
    .contact-us__discount img {
        height: 100%;
    }
    .contact-us__container-bottom {
        display: flex;
        align-items: center;
        justify-content: center;
        margin-top: 50px;
    }
    .contact-us__discount img {
        width: 100%;
        object-fit: cover;
    }
    .contact-us__container-bottom-img {
        display: none;
    }
}

@media screen and (max-width: 528px) {
    .content {
       max-width: 528px;
       width: 100%;
    }
 
    .description {
       width: 100%;
       margin: 0; 
       height: 100px !important;
       padding: 10px;
    }
 
    .description p {
       width: 100%;
       height: 100%;
    }
    .social-contacts { 
       display: flex;
       align-items: center;
       justify-content: center;
       width: 100%;
       height: 200px;
       margin: 0;
       padding: 20px;
       gap: 10px;
    }
    .social-contacts__item { 
       width: 100%;
       height: 40px;
    }
    .social-contacts__item img { 
       width: 30px;
       height: 30px;
    }
    .social-contacts__item p { 
       font-size: 15px;
       line-height: 24px;
       margin-left: 45px;
    }
    .social-contacts__item img { 
       margin-right: 10px;
    }
    .images {
       display: none;
    }
    .contact-us__container-top {
       padding: 20px 0 80px 0;
    }
    .contact-us__container-top-div {
       height: 100px;
       padding: 10px;
       margin-bottom: 25px;
    }
    .w320-images {
       width: 100%;
       display: flex;
       flex-direction: column;
       align-items: center;
       gap: 5px;
    }
    .w320-images__item {
       width: 93.75%;
       opacity: 0;
       transition: opacity 0.5s ease-in-out;
       display: none;
    }
    .w320-images img {
        width: 100%;
    }
    .w320-images__item.visible {
       opacity: 1;
       display: block;
     }
    .w320-images__btn {
       width: 56px;
       height: 19px;
       padding-top: 5px;
       padding-bottom: 5px;
       color:#878787;
       font-size: 8px;
       background-color: transparent;
       gap: 2px;
       border: none;
       display: flex;
       justify-content: space-between;
       align-items: center;
       cursor: pointer;
    }
    .w320-images__btn img {
       margin-right: 5px;
    }
   
    .contact-us__container-top-p {
       height: 80px;
       font-size: 12px;
       line-height: 16px;
    }
    .contact-us__container-social {
       display: flex;
       align-items: center;
       justify-content: center;
       width: 100%;
       height: 200px;
       margin: 0;
       padding: 20px;
       gap: 10px;
    }
    .container-social-item {
       width: 100%;
       height: 40px;
    }
    .container-social-item img {
       width: 30px;
       margin-right: 10px;
    }
    .container-social-item p {
       font-size: 15px;
       margin-left: 50px;
    }
    .contact-us__container-top {
       height: 400px;
    }

    .contact-us__discount {
        height: 189px;
    }
    .contact-us__discount img{
       width: 100%;
       object-fit: cover;
       height: 100%;
    }
    .contact-us__container-bottom {
       width: 100%;
       height: 316px;
       margin: 90px 0 0 0;
       padding: 0;
    }
    .form {
       width: 100%;
       margin: 0;
       padding: 0
    }
    .form__content-p {
       width: 272px;
       font-size: 16px;
       line-height: 26px;
    }
    form {
       border: 1px solid #15D1D9;
       width: 300px;
    }
 }

 @media screen and (max-width: 380px) {
    .container-social-item {
        width: 100%;
    }
    .social-contacts__item {
        width: 100%;
    }
 }



