@import url("./header.css");
@import url("./footer.css");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --color-primary: #15d1d9;
  --color-secondary: #2f3e53;
  --color-black: #000000;
  --color-white: #ffffff;
}

.page {
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: "Roboto", "Arial", "sans-serif";
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  text-rendering: optimizeLegibility;
  min-height: 100vh;
}

.page__content {
  margin: 0 auto;
  width: 1920px;
  min-width: 320px;
  background: var(--color-white);
  min-height: 100vh;
}

.content {
  min-height: 50vh;
  flex: 1;
}

.banner__questions {
  background-position: center right;
  max-width: 1920px;
  background-image: url(../images-blog/banner-snapedit.png);
  height: auto;
  background-size: cover;
  background-repeat: no-repeat;
}

.content {
  min-height: 50vh;
  flex: 1;
}

.banner__questions-wrap {
  max-width: 100%;
  margin: 0 auto;
  padding: 0 0 0px 450px;
}

.banner__questions-title {
  max-width: 542px;
  font-family: Stengazeta;
  font-size: 52px;
  font-weight: 400;
  line-height: 64px;
  margin: 0;
  text-align: center;
  color: var(--color-white);
  padding-top: 188px;
}
.banner__questions-subtitle {
  max-width: 542px;
  font-family: Roboto-Extrabold;
  line-height: 42.28px;
  font-weight: 800;
  font-size: 24px;
  line-height: 31px;
  text-align: center;
  color: var(--color-white);
  padding-bottom: 251px;
}
.advantages {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-top: 28px;
  max-width: 1200px;
  padding: 28px 20px;
  margin: 0 auto;
}

.advantages__container {
  max-width: 1160px;
  display: flex;
  justify-content: center;
  align-items: baseline;
  flex-wrap: wrap;
  grid-gap: 22px;
  justify-content: space-around;
}

.advantages__wpapper {
  max-width: 568px;
  display: flex;
  flex-direction: column;
  align-items: center;
  max-width: 568px;
}
.advantages__images-blog {
  height: 100px;
  width: 100px;
  margin-bottom: 31px;
}

.advantages__title {
  font-family: Roboto;
  font-weight: 400;
  font-size: 36px;
  line-height: 60px;
  text-align: center;
  color: var(--color-black);
  margin: 0;
  max-width: 565px;
  margin-bottom: 15px;
}
.advantages__mb {
  margin-bottom: 113px;
}

.advantages__text {
  font-family: Roboto;
  font-weight: 400;
  font-size: 24px;
  padding: 0px 0px 15px 0px;
  max-width: 487px;
  line-height: 28.8px;
  text-align: center;
  color: var(--color-black);
  margin: 0;
}
.advantages__flex {
  display: none;
}

.container {
  max-width: 1160px;
  margin: 0 auto;
  position: relative;
}
.bg-left {
  background-image: url(../images-blog/left.png);
  width: 380px;
  position: absolute;
  height: 3900px;
  top: 0;
  left: -379px;
}
.bg-right {
  background-image: url(../images-blog/right.png);
  position: absolute;
  width: 380px;
  height: 3900px;
  top: 0;
  right: -379px;
}
.blog {
  margin-top: 17px;
}
.blog__wrapper {
  padding: 0px 0px 0px 19px;
  margin-bottom: 50px;
}
.blog__container {
  padding: 0 20px;
}
.blog__name {
  font-family: Stengazeta;
  font-weight: 400;
  font-size: 64px;
  color: var(--color-primary);
  margin-bottom: 42px;
  text-transform: uppercase;
  text-align: center;
}
.blog__title {
  font-family: Stengazeta;
  font-weight: 400;
  font-size: 40px;
  line-height: 24px;
  color: var(--color-primary);
  margin-bottom: 35px;
  text-transform: uppercase;
}
.blog__subtitle {
  font-family: Roboto;
  font-weight: 400;
  font-size: 20px;
  color: var(--color-black);
  max-width: 1120px;
  margin-bottom: 50px;
}
.blog__text {
  font-family: Inter;
  font-weight: 400;
  font-size: 20px;
  color: var(--color-black);
}
.blog__fontsize {
  font-family: Inter;
  font-weight: 400;
  font-size: 20px;
  color: var(--color-black);
}
.blog__list {
  padding-left: 31px;
}
.blog__fontmb {
  padding-left: 25px;
  margin-top: 19px;
  margin-bottom: 0px;
  font-family: Roboto;
  font-weight: 400;
  font-size: 20px;
  color: var(--color-black);
  max-width: 1120px;
}
.blog__list-two {
  padding-left: 31px;
  margin: 0;
}
.blog__items {
  font-family: Roboto;
  font-weight: 400;
  font-size: 20px;
  color: var(--color-black);
  line-height: 26px;
}
.blog__fontmt {
  margin-top: 0;
}

.blog__btn {
  font-family: Roboto;
  font-weight: 400;
  font-size: 10px;
  text-align: center;
  color: #aaa;
  border: 1px solid #aaa;
  border-radius: 20px;
  width: 92px;
  margin: 0 auto;
  padding: 4px 20px 4px 7px;
  text-decoration: none;
}
.blog__link {
  display: none;
}
.cost {
  max-width: 1200px;
  padding: 0 20px;
  margin: 0 auto;
}
.cost__title {
  font-family: Stengazeta;
  font-weight: 400;
  font-size: 40px;
  line-height: 32.8px;
  color: var(--color-primary);
  text-align: center;
  padding-top: 68.2px;
  margin-bottom: 55px;
}
.cost__phone {
  text-decoration: none;
  color: var(--color-secondary);
}
.cost__image {
  margin: 0 auto;
  text-align: center;
}
.cost__wpapper {
  max-width: 235px;
  display: flex;
  flex-direction: column;
  margin-top: -28px;
  justify-content: center;
  align-items: center;
  text-align: center;
}
.cost__container {
  position: relative;
  z-index: 0;
  display: flex;
  flex-direction: column;
  max-width: 1200px;
  align-items: center;
  margin-bottom: 50px;
}
.cost__wrap {
  display: flex;
  justify-content: center;
  align-items: baseline;
  grid-gap: 40px;
  margin-top: 40px;
}
.cost__line {
  margin: 0 auto;
  width: 68%;
  transform: translate(200px, -4px);
  z-index: -99;
  position: absolute;
  border-top: 1px solid var(--color-primary);
}
.cost__name {
  font-family: Roboto-Medium;
  font-weight: 500;
  font-size: 24px;
  line-height: 27px;
  color: var(--color-secondary);
  margin-bottom: 15px;
  height: 27px;
}
.cost__text {
  font-family: Roboto;
  font-weight: 400;
  font-size: 14px;
  line-height: 23.3px;
  color: var(--color-secondary);
  max-width: 217px;
}

.social {
  background-image: url(../images-blog/social-bg.png);
  max-width: 1160px;
  height: 403px;
  background-repeat: no-repeat;
  margin: 0 auto;
  margin-top: 79px;
}
.social__text {
  font-family: Roboto-ExtraBold;
  font-weight: 800;
  font-size: 24px;
  line-height: 30px;
  text-align: center;
  color: #f4f7f7;
  text-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.25);
  max-width: 842px;
  padding: 92px 0px 53px;
  text-align: center;
  margin: 0 auto;
}
.social__wrapper {
  font-family: Roboto;
  font-weight: 400;
  font-size: 24px;
  text-align: center;
  color: #f4f7f7;
  background: var(--color-primary);
  border-radius: 20px;
  padding: 0px 18px 0px 0px;
  max-width: 360px;
  width: 100%;
  min-height: 60px;
  display: flex;
  align-items: center;
  justify-content: flex-end;
}
.social__link {
  font-family: Roboto;
  font-weight: 400;
  font-size: 24px;
  color: #f4f7f7;
  text-decoration: none;
  margin-right: 5px;
}
.social__bold {
  font-family: Roboto-Black;
  font-weight: 900;
  font-size: 24px;
}
.social__wrap {
  display: flex;
  justify-content: space-between;
  grid-gap: 35px;
  margin-left: 4px;
  margin-right: 6px;
}
.registration {
  max-width: 1160px;
  padding: 0 10px;
  margin: 0 auto;
}

.registration__container {
  display: flex;
  justify-content: space-around;
}
.registration__name {
  font-family: Stengazeta;
  font-weight: 400;
  font-size: 40px;
  color: var(--color-primary);
  margin: 0;
  padding-top: 50px;
  margin-left: 75px;
}
.registration__text {
  font-family: Stengazeta;
  font-weight: 400;
  font-size: 40px;
  color: var(--color-secondary);
  margin: 0;
  margin-left: 75px;
}
.registration__images-blog {
  margin-top: -63px;
  margin-right: -61px;
  height: 526px;
  margin-left: -38px;
}
.registration__wrap-form {
  padding-top: 56px;
}
.registration__formRegisterName {
  font-family: Stengazeta;
  font-weight: 400;
  font-size: 24px;
  line-height: 26px;
  color: var(--color-primary);
  margin-bottom: 11px;
}
.registration__formRegisterTitle {
  font-family: Roboto-Black;
  font-weight: 900;
  font-size: 20px;
  line-height: 16px;
  color: var(--color-primary);
  margin: 0;
  padding-top: 20px;
  padding-bottom: 24px;
}

.registration__formRegister {
  border: 1px solid #747474;
  border-radius: 0 0 12px 12px;
  max-width: 407px;
  background: var(--color-white);
  min-height: 286px;
  display: flex;
  align-items: center;
  flex-direction: column;
}
.registration__label {
  display: flex;
  flex-direction: column;
  min-height: 60px;
  margin-bottom: 15px;
  position: relative;
}
.registration__label-text {
  font-family: Roboto;
  font-weight: 400;
  font-size: 12px;
  line-height: 100%;
  color: rgba(0, 0, 0, 0.5);
}
.registration__formRegisterInputName,
.registration__formRegisterInputTelephone {
  font-family: Roboto;
  font-size: 14px;
  font-weight: 400;
  line-height: 16px;
  text-align: left;
  margin: 0;
  color: rgba(0, 0, 0, 0.5);
  height: 40px;
  width: 360px;
  box-sizing: border-box;
  border: 1px solid rgba(0, 0, 0, 0.5);
  border-radius: 4px;
  padding: 12px 16px;
  margin-top: 8px;
  outline: none;
}
.registration__formRegisterButton {
  font-family: Roboto-Medium;
  font-weight: 500;
  font-size: 14px;
  line-height: 12px;
  letter-spacing: -0.02em;
  text-align: center;
  color: var(--color-white);
  margin-top: 9px;
  border-radius: 6px;
  padding: 16px 20px;
  width: 343px;
  height: 44px;
  background: var(--color-primary);
  outline: none;
  border: none;
  margin-bottom: 23px;
}

.form_margin-bottom {
  margin-bottom: 50px;
}

@media screen and (max-width: 1750px) {
  .banner__questions-wrap {
    padding: 0 0 0px 300px;
  }
}

@media screen and (max-width: 1590px) {
  .banner__questions-wrap {
    padding: 0 0 0px 100px;
  }
}

@media screen and (max-width: 1386px) {
  .banner__questions-wrap {
    padding: 0 0 0px 20px;
  }
}
@media screen and (max-width: 1360px) {
  .banner__questions-wrap {
    margin: 0;
  }
}

@media screen and (max-width: 1306px) {
  .banner__questions-wrap {
    padding: 0;
  }

  .banner__questions-title {
    font-size: 38px;
    font-weight: 400;
    line-height: 40px;
    max-width: 400px;
  }
  .banner__questions-subtitle {
    font-size: 18px;
    max-width: 400px;
  }

  .banner__questions-wrap {
    padding-left: 120px;
  }

  .banner__questions {
    background-image: url(../images-blog/desktop-bg.png);
    max-width: 100%;
    padding: 0 0px;
    height: 580px;
  }
}

@media screen and (max-width: 1260px) {
  .advantages__container {
    margin-top: 140px;
  }
}
@media screen and (max-width: 1100px) {
  .banner__questions-wrap {
    padding-left: 60px;
  }
}

@media screen and (max-width: 960px) {
  .banner__questions-title {
    font-size: 32px;
    line-height: 40px;
    max-width: 352px;
  }
  .banner__questions-subtitle {
    font-size: 14px;
    line-height: 31px;
    max-width: 352px;
  }
  .banner__questions-wrap {
    height: 580px;
  }
}

@media screen and (max-width: 822px) {
  .banner__questions-wrap {
    padding-left: 0px;
  }
  .banner__questions-title {
    margin-bottom: 24px;
    font-size: 32px;
    line-height: 40px;
  }
}

@media screen and (max-width: 735px) {
  .hamburger-menu__wrapper_blog_margin {
    position: fixed;
    top: 13px;
    left: 92.6%;
    z-index: 3;
    width: 40px;
    height: 40px;
  }
}

@media screen and (max-width: 670px) {
  .banner__questions-title {
    max-width: 340px;
    padding-top: 10px;
  }
  .banner__questions-subtitle {
    max-width: 290px;
    padding-bottom: 0;
    line-height: 16px;
  }

  .banner__questions-wrap {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0 auto;
    width: 320px;
  }

  .advantages__container {
    grid-gap: 0px;
    margin-right: 30px;
    margin-top: -555px;
  }

  .article {
    margin-top: 60px;
  }

  .banner__questions {
    background-image: url(../images-blog/mobile-bg.png);
    height: 800px;
    padding: 0 10px;
  }

  .advantages__images-blog {
    height: 45px;
    width: 45px;
    margin-bottom: 8px;
  }

  .advantages__none {
    display: none;
  }
  .advantages__flex {
    display: flex;
  }
  .advantages__title {
    line-height: 24px;
    color: var(--color-white);
    font-size: 20px;
    margin-bottom: 8px;
  }
  .advantages__text {
    color: var(--color-white);
    line-height: 16px;
  }

  .advantages__mb {
    margin-bottom: 8px;
  }
  .advantages__order2 {
    order: 4;
  }
  .advantages__order4 {
    order: 2;
  }
  .advantages__height {
    height: 46px;
  }
  .advantages {
    padding: 0px 0px;
  }
}

@media screen and (max-width: 615px) {
  .banner__questions-wrap {
    height: 280px;
  }
  .banner__questions {
    height: 1150px;
  }

  .advantages__container {
    grid-gap: 0px;
    margin-top: -855px;
  }
}

@media screen and (max-width: 589px) {
  .advantages__container {
    margin-top: -960px;
  }
}

@media screen and (max-width: 500px) {
  .advantages__container {
    margin-top: -960px;
    margin-right: 0px;
  }
}

@media screen and (max-width: 480px) {
  .banner__questions-title {
    max-width: 300px;
    margin-bottom: 3px;
    font-family: Stengazeta;
    font-size: 32px;
    font-weight: 400;
    line-height: 38px;
  }

  .advantages__container {
    grid-gap: 0px;
    margin-top: -860px;
  }

  .banner__questions {
    height: 1000px;
  }
  .banner__questions-wrap {
    height: 180px;
  }
  .banner__questions-subtitle {
    font-family: Roboto;
    font-size: 14px;
    font-weight: 800;
    line-height: 16px;
  }
}

@media screen and (max-width: 346px) {
  .banner__questions-title {
    max-width: 320px;
  }

  .banner__questions-span-title {
    white-space: nowrap;
  }
}

@media screen and (max-width: 340px) {
  .banner__questions {
    background-image: url(../images-blog/mobile-bg.png);
    height: 990px;
    padding: 0 10px;
  }
  .banner__questions-title {
    max-width: 300px;
    padding-top: 20px;
    margin-bottom: 19px;
    line-height: 38px;
  }
  .banner__questions-subtitle {
    max-width: 300px;
    margin: 0 auto;
    line-height: 16px;
  }
  .banner__questions-wrap {
    padding: 0 10px;
    margin: 0 auto;
  }

  .advantages__container {
    margin-top: -860px;
  }
}

@media screen and (max-width: 1914px) {
  .bg-left {
    display: none;
  }
  .bg-right {
    display: none;
  }
}

@media screen and (max-width: 1250px) {
  .container {
    max-width: 1040px;
    margin-top: -111px;
  }
  .bg-right {
    display: none;
  }
  .bg-left {
    display: none;
  }
}
@media screen and (max-width: 1150px) {
  .container {
    max-width: 1040px;
    margin-top: -129px;
  }
}

@media screen and (max-width: 950px) {
  .bg-left,
  .bg-right {
    display: none;
  }
}
@media screen and (max-width: 800px) {
  .container {
    margin-top: -14px;
  }
  .advantages {
    padding: 23px 28px;
  }
  .advantages__images-blog {
    height: 60px;
    width: 60px;
    margin-bottom: 15px;
  }
  .advantages__title {
    font-size: 32px;
    line-height: 30px;
    max-width: 269px;
  }
  .advantages__text {
    font-size: 14px;
    max-width: 280px;
    line-height: 18px;
  }
  .advantages__mb {
    margin-bottom: 37px;
  }
  .advantages__order1 {
    order: 1;
  }
  .advantages__order2 {
    order: 2;
  }
  .advantages__order3 {
    order: 3;
  }
  .advantages__order4 {
    order: 4;
  }
  .advantages__font {
    font-size: 30px;
  }
  .advantages__height {
    height: 60px;
  }
}
@media screen and (max-width: 656px) {
  .advantages {
    padding: 0px 28px;
    margin-top: -38px;
  }
}

@media screen and (max-width: 360px) {
  .advantages__font {
    font-size: 25px;
  }
}

@media screen and (max-width: 860px) {
  .blog {
    margin-top: -18px;
  }
  .blog__name {
    font-size: 20px;
    margin-bottom: 38px;
  }
  .blog__title {
    font-size: 20px;
    line-height: 38px;
    margin-bottom: 10px;
  }
  .blog__subtitle {
    margin-bottom: 20px;
    font-size: 14px;
  }
  .blog__wrapper {
    margin-bottom: 20px;
  }
  .blog__fontsize {
    font-family: Roboto;
    font-weight: 400;
    font-size: 14px;
    color: var(--color-black);
  }
  .blog__items {
    font-family: Roboto;
    font-weight: 400;
    font-size: 14px;
    line-height: 18px;
    color: var(--color-black);
  }
  .blog__container {
    max-width: 640px;
    margin: 0 auto;
    /*padding: 0 0px;*/
  }
  .blog__fontmb {
    font-size: 14px;
  }
}

@media screen and (max-width: 360px) {
  .blog {
    margin-top: 30px;
  }
  .blog__wrapper {
    padding: 0px 0px 0px 0px;
  }
  .blog__name {
    font-size: 32px;
    margin-bottom: 20px;
  }
  .blog__title {
    font-size: 20px;
    line-height: 25px;
    margin-bottom: 2px;
  }
  .blog__subtitle {
    font-size: 12px;
  }

  .blog__fontmb {
    padding-left: 13px;
    margin-bottom: 5px;
  }

  .blog__container {
    padding: 0 10px;
  }

  .blog__link {
    margin-top: 12px;
    display: flex;
    position: relative;
    &::before {
      content: "";
      position: absolute;
      width: 18px;
      height: 11px;
      background-image: url(../images-blog/arrow.svg);
      top: 8px;
      right: 106px;
      background-repeat: no-repeat;
    }
  }
}

@media screen and (max-width: 1250px) {
  .const__name {
    font-size: 17px;
    line-height: 27px;
  }
  .const__text {
    line-height: 18px;
    max-width: 192px;
  }
  .cost__line {
    display: none;
  }
  .cost__name {
    font-size: 19px;
  }
}

@media screen and (max-width: 940px) {
  .cost__title {
    padding-top: 55px;
    margin-bottom: 21px;
    font-size: 24px;
  }
  .cost__font {
    font-family: Roboto-Bold;
    font-weight: 700;
    font-size: 14px;
    line-height: 27px;
    text-align: center;
    color: var(--color-secondary);
  }
  .cost__name {
    font-size: 14px;
    margin-bottom: 7px;
  }
  .cost__image img {
    width: 45px;
    height: 45px;
  }
  .cost__phone {
    text-decoration: underline;
  }
}

@media screen and (max-width: 740px) {
  .cost__wrap {
    flex-wrap: wrap;
  }
}

@media screen and (max-width: 360px) {
  .cost__title {
    padding-top: 6px;
    margin-bottom: 10px;
  }
  .cost__image img {
    width: 35px;
    height: 35px;
  }
  .cost__name {
    margin-bottom: 4px;
  }
  .cost__text {
    text-align: center;
    max-width: 280px;
  }
  .cost__wrap {
    grid-gap: 50px;
  }
}

@media screen and (max-width: 800px) {
  .social__text {
    padding: 83px 0px 24px;
    font-size: 20px;
  }
  .social {
    margin-top: 0px;
    background-position: center;
    height: 552px;
  }
  .social__wrap {
    grid-gap: 18px;
    flex-wrap: wrap;
    line-height: 25px;
  }
  .social__wrapper {
    max-width: 580px;
    width: 100%;
    margin: 0 auto;
  }
  .social__whatsapp {
    display: flex;
    justify-content: flex-end;
  }
  .social__link {
    margin-right: 118px;
    text-align: center;
  }
}

@media screen and (max-width: 694px) {
  .social__text {
    font-size: 19px;
  }
}

@media screen and (max-width: 505px) {
  .social__bold,
  .social__link {
    font-size: 15px;
  }
  .social__text {
    padding: 182px 0px 24px;
    max-width: 355px;
    font-size: 12px;
  }
  .social__whatsapp img,
  .social__telegramm img,
  .social__vk img {
    width: 30px;
    height: 30px;
    margin-top: 4px;
    margin-right: -11px;
  }
}

@media screen and (max-width: 380px) {
  .social {
    background-size: contain;
    height: auto;
    background-position: top center;
    margin-top: 55px;
    max-width: 320px;
  }
  .social__text {
    max-width: 280px;
    line-height: 16px;
    padding: 15px 0px 24px;
    font-size: 12px;
    line-height: 16px;
  }
  .social__link {
    margin-right: 87px;
  }
  .social__link {
    margin-right: 28px;
  }
  .social__wrapper {
    max-width: 280px;
    min-height: 40px;
    position: relative;
  }
  .container__fluid {
    padding: 0 3px;
  }
  .social__order1 {
    order: 1;
  }
  .social__order2 {
    order: 2;
  }
  .social__order3 {
    order: 3;
  }
}

@media screen and (max-width: 988px) {
  .registration__images-blog {
    height: 387px;
  }
}

@media screen and (max-width: 800px) {
  .registration__images-blog {
    max-width: 420px;
    height: 378px;
    margin-top: -43px;
    margin-right: -11px;
    margin-left: -14px;
  }
  .registration__name {
    font-size: 24px;
    margin-left: 0px;
  }
  .registration__text {
    font-size: 24px;
    margin-left: 0px;
  }
  .registration__formRegister {
    border: 1px solid var(--color-primary);
    border-radius: 20px;
    padding: 20px 10px;
    width: 300px;
    height: 270px;
    background: var(--color-white);
  }
  .registration__formRegisterInputName,
  .registration__formRegisterInputTelephone {
    border: 1px solid rgba(0, 0, 0, 0.5);
    border-radius: 4px;
    padding: 12px 16px;
    width: 280px;
    height: 40px;
    font-size: 12px;
    color: rgba(0, 0, 0, 0.5);
  }
  .registration__formRegisterName {
    font-size: 16px;
  }
  .registration__formRegisterButton {
    font-size: 12px;
    width: 219px;
    height: 44px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
  }
  .registration__formRegisterTitle {
    padding-bottom: 30px;
    font-size: 16px;
    padding-top: 0px;
  }
  .registration__wrap-form {
    padding-top: 43px;
  }
  .registration__label-text {
    font-size: 8px;
    margin-bottom: 8px;
  }
}

@media screen and (max-width: 742px) {
  .registration__images-blog {
    max-width: 311px;
    height: 330px;
  }
}

@media screen and (max-width: 642px) {
  .registration__container {
    flex-wrap: wrap;
  }
  .registration__images-blog {
    max-width: 100%;
    height: auto;
  }
  .registration__wrap-form {
    padding-top: -1px;
    margin-top: -69px;
  }
}

@media screen and (max-width: 390px) {
  .registration {
    margin-top: 44px;
  }
  .registration__images-blog,
  .registration__name,
  .registration__text {
    display: none;
  }
}

@media screen and (max-width: 390px) {
  .footer {
    height: 452px;
  }
}
